@import 'mixins';
@import 'forms';
@import 'components';
@import 'bootstrap';
@import 'angular';
$color-footer-text: #999;
$color-footer-hover-text: #3399f3;
$color-footer-hover-icons: #337bd5;
$color-tooltip-title: #fff;
$color-tooltip-title-border: #9b9b9b;
$color-accent: #ee192d;
$color-secondary-accent: #1d840e;
$color-lighter: #e5e2b0;
$color-light: #b1cc7e;
$color-second-dark: #6b8551;
$color-main-dark: #202816;

* {
  padding: 0;
  margin: 0;
}

body {
  cursor: default;
  font-family: 'PT Sans', sans-serif;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  &:first-of-type {
    margin-top: 10px;
  }
}

.container {
  background: lighten($color-lighter, 10%);
  padding-left: 256px;
  margin: auto;
  min-height: 600px;
  width: 100%;
}

.bg-accent {
  background: $color-accent;
}

.main-container {
  margin-bottom: 30px;
  margin-top: 50px;
  padding-left: 258px;
}

header {
  .navbar {
    background: #fff;
    height: 54px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $color-light;
    margin: 0;
    padding-left: 258px;
    .navbar-nav {
      float: none;
      text-align: right;

      li {
        float: none;
        display: inline-block;
      }

      a {
        color: #fff;
        text-transform: uppercase;
      }

      a:hover {
        padding-top: 10px;
        color: $color-light;
      }
    }
  }
}

.navbar-header {
  background: $color-main-dark;
  width: 240px;
  padding: 12px 16px;
  height: 54px;
  margin-bottom: 12px;
  position: fixed;
  top: 0;
  left:0;
  z-index: 99999;
  .navbar-brand {
    display: block;
    padding: 0;
    color: #fff;
    line-height: 30px;
    width: 100%;

    img {
      height: 30px;
      width: auto;
      float: left;
      margin-right: 12px;
    }
  }
}

.dashboard-navigation-left {
  height: 100%;
  min-height: 600px;
  background: $color-second-dark;
  width: 240px;
  padding:  0;
  padding-top: 50px;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  li {
    display: block;
    width: 100%;
    float: none;

    a {
      color: #fff;
      border: none;
      border-radius: 0;
      padding: 16px;
      display:block;
      font-size: 18px;
      &:hover{
        text-decoration: none;
      }
      .fa{
        font-size: 20px
      }
    }
  }

  li:hover {
    background: darken($color-second-dark, 5%);
  }
}

footer {
  .navbar {
    height: 68px;
    text-align: center;
    background: $color-main-dark;
    margin: 0;
    border-radius: 0;
    border: none;
  }
}

.no-select {
  @include no-select();
}

.pagination {
  margin: 0;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.help {
  .fa {
    font-size: 20px;
    line-height: 14px;
    margin: 0 0 0 5px;
    position: relative;
    top: 2px;
  }
}

.tooltip {
  .title {
    border-bottom: 1px solid $color-tooltip-title-border;
    color: $color-tooltip-title;
    margin: 3px 0 5px;
    padding: 0;
  }

  .tooltip-inner {
    text-align: left;
  }
}
