<ul>
  <li>
    <a href="/dashboard" data-ui-sref="dashboard.home"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.reports"><i class="fa fa-area-chart" aria-hidden="true"></i> Reports</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.invoices"><i class="fa fa-file-text-o" aria-hidden="true"></i> Invoices</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.bills"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Bills</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.estimates"><i class="fa fa-file-o" aria-hidden="true"></i> Estimates</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.bills"><i class="fa fa-clock-o" aria-hidden="true"></i> Track</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.clients"><i class="fa fa-users" aria-hidden="true"></i> Clients</a>
  </li>
  <li>
    <a href="#" data-ui-sref="dashboard.settings"><i class="fa fa-cogs" aria-hidden="true"></i> Business Settings</a>
  </li>
</ul>
